<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Plant Vision App Mockup</title>

<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="app-header">
  <!-- App bar content like time, battery, icons can be added here -->
    Plant Vision App
 <!-- origional image  -->

  

</div>

<div class="app-body">
  <!-- Plant vision header or logo -->
  <div class="plant-name">Blue-Stem Yucca</div>
  <div class="plant-card">
    <!-- This is where the image of the plant goes -->
    <img src=..\plantimages\1.jpg alt="Blue-Stem Yucca">
    <div class="plant-info">
      <div class="plant-name">Monstera deliciosa</div>
      <div class="plant-scientific">Yucca gigantea</div>
      <div class="plant-scientific">
    <p>The most distinctive feature of Monstera deliciosa is its large, glossy, heart-shaped leaves that develop natural holes, called fenestrations, as they mature. These fenestrations are not only visually appealing but also serve a functional purpose; they allow light to pass through to the lower leaves in the dense tropical canopies where these plants grow in the wild. In addition to providing an architectural element to interior decor, these holes reduce the plant's resistance to strong winds in its natural habitat, a clever adaptation to its environment.</p>
    <p>Monstera deliciosa is not only prized for its ornamental value but is also known for its air-purifying qualities, as it can absorb toxins and release oxygen, contributing to a healthier indoor atmosphere. This plant prefers a warm, humid environment with indirect, bright light, and it requires well-draining soil to prevent root rot. It's a fast grower and can be easily propagated from stem cuttings, making it a generous plant to share with friends and fellow plant lovers</p>
  </div>
  </div>
    </div>
  </div>
  
  <a href="#" class="button">Add Plant</a>
  <a href="#" class="button secondary-button">View other results</a>
</div>

</body>
</html>
